/*********
  LAYOUT
*********/

.internal-embed .markdown-embed {
  border: 1px solid rgba(0,0,0, 0.1) !important;
  border-left: 5px solid rgba(0,0,0, 0.1) !important;
  border-radius: 5px !important;
  padding: 0 5px !important;
}

.internal-embed .markdown-embed .markdown-embed-link {
  opacity: 1 !important;
  top: 5px;
  right: 5px;
}

.internal-embed .markdown-embed .markdown-embed-link {
  opacity: 0 !important;
}

.internal-embed:hover .markdown-embed .markdown-embed-link {
  opacity: 1 !important;
}

/*
 * Individual "wide" note
 * Just add `cssClass: wide` in frontmatter
 */

.markdown-source-view.wide .CodeMirror {
  max-width: unset !important;
}

.markdown-source-view.mod-cm6.is-line-wrap.wide .cm-content {
  max-width: unset !important;
}

.markdown-source-view.mod-cm6.is-line-wrap.wide .cm-line:not(.HyperMD-table-row) {
  max-width: unset !important;
}

.markdown-source-view.mod-cm6.wide .cm-line,
.markdown-source-view.mod-cm6.wide .cm-line.HyperMD-codeblock,
.markdown-source-view.mod-cm6.wide .cm-line.HyperMD-list-line {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: unset !important;
}

.markdown-source-view.mod-cm6.wide .cm-contentContainer {
    max-width: var(--max-width);
    margin: 0 0 0 calc(50% - var(--max-width)/ 2)!important;
    padding-left: var(--folding-offset);
}

.markdown-preview-view.wide .markdown-preview-sizer {
  max-width: unset !important;
}



/*********
  COLORS
*********/

/* https://optemization.com/notion-color-guide */

/*
 * Code
 */

.cm-inline-code:not(.cm-formatting-code),
.markdown-rendered code {
  background-color: rgba(135, 131, 120, 0.15) !important;
  border-radius: 3px;
  padding: 0.1em 0em;
}

.cm-inline-code.cm-formatting-code {
  background-color: rgba(0, 0, 0, 0) !important;
}

.theme-dark :is(.cm-inline-code, code) {
  color: #FF7369 !important;
}

.theme-light :is(.cm-inline-code, code) {
  color: #E03E3E !important;
}

/*
 * Bold
 */

.theme-dark .cm-strong {
  filter: brightness(110%);
}

.theme-light .cm-strong {
  filter: brightness(90%);
}

/*
 * Lists & Folds
 */

/* .collapse-indicator {
    opacity: 1 !important;
} */

/*
 * Links
 */

.cm-link,
.external-link,
.cm-url {
  /* opacity: 0.7 !important; */
}

.cm-formatting-list,
.list-bullet::after {
  color: var(--text-normal) !important;
}


/*********
  FONTS
*********/

.cm-scroller {
  --text-editor: "Segoe UI" !important;
  --link-weight: 400;
}

.cm-underline {
  text-decoration: none !important;
}

.theme-dark
:is(.cm-url,
.external-link,
.internal-link,
.cm-hmd-internal-link,
.cm-link) {
  text-decoration: none !important;
  border-bottom: 0.05em solid;
  border-color: rgba(255, 255, 255, 0.13);
}

.theme-light
:is(.cm-url,
.external-link,
.internal-link,
.cm-hmd-internal-link,
.cm-link) {
  text-decoration: none !important;
  border-bottom: 0.05em solid;
  border-color: rgba(0, 0, 0, 0.13);
}

.internal-link,
.cm-hmd-internal-link {
  font-weight: 500;
}


/*********
  OTHERS
*********/

/* Hide the escape backslash */
/* Source: https://discord.com/channels/686053708261228577/702656734631821413/963970189551083541 */
.cm-line:not(.cm-active)>span.cm-formatting-escape {
  display: none;
}
